<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" xml:lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>alwaysdata</title>
    <link href="http://static.alwaysdata.com/v3/images/favicon.ico" rel="shortcut icon" />
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    <link href="http://static.alwaysdata.com/v3/css/common.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="http://static.alwaysdata.com/v3/css/new.css" rel="stylesheet" type="text/css" media="screen" />
    <!--[if !IE 7]>
        <style type="text/css">
            #global {display:table;height:100%}
        </style>
    <![endif]-->
</head>

<body>

    <div id="centralblock" class="shadowed radius">

        <div id="logo">
            <a href="http://www.alwaysdata.com">
                <img src="http://static.alwaysdata.com/v3/images/alwaysdata-logo.png" alt="Logo alwaysdata" title="Logo alwaysdata" class="left" />
                <h1 id="alwaysdata" class="alone"><span>Faunris inc!!!</span></h1>
            </a>
        </div>
        
        <!-- ENGLISH -->
        <h2>ПРИВЕТ</h2>

    </div>
 
</body>

</html>
